header {
  display: flex;
  justify-content: space-evenly;
  background-color: #3e3d3d;
  align-items: center;
  color: white;
}

main {
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  padding-left: 230px;
}

.imgProfile {
  width: 200px;
}

.containerAside {
    display: flex;
    margin-right: 220px;
}
.left {
  flex: 1;
}
.containerProfile {
  border: solid rgb(10, 10, 11) 2px;
  width: 185px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
}

.textImg {
  font-size: 22px;
  font-weight: bold;
}

.right {
  border: solid rgb(10, 10, 11) 2px;
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 13px;
  flex: 5;
  justify-content: center;
  padding: 0px 0px 0px 13px;
  border-radius: 5px;
  background-color: rgb(247, 243, 237);
}

.likeBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spanLike {
  padding: 17px 0px 0px 380px;
}

.btnLike {
  background-color: rgb(226, 226, 124);
  border: 2px;
  width: 50px;
  height: 25px;
  padding: 0px 0px 0px 0px;
  margin-top: 14px;
  margin-left: 10px;
}

.btnLike:hover {
  background-color: rgb(170, 170, 94);
}
.textLike {
  font-size: 15px;
  padding-right: 100px;
}
.likeAsides {
  display: flex;
  flex-direction: column;
}
.spanLike_2 {
    padding: 17px 0px 0px 380px;
  }
  
  .btnLike_2 {
    background-color: rgb(226, 226, 124);
    border: 2px;
    width: 50px;
    height: 25px;
    padding: 0px 0px 0px 0px;
    margin-top: 14px;
    margin-left: 10px;
  }
  
  .btnLike_2:hover {
    background-color: rgb(170, 170, 94);
  }

  .spanLike_3 {
    padding: 17px 0px 0px 380px;
  }
  
  .btnLike_3 {
    background-color: rgb(226, 226, 124);
    border: 2px;
    width: 50px;
    height: 25px;
    padding: 0px 0px 0px 0px;
    margin-top: 14px;
    margin-left: 10px;
  }
  
  .btnLike_3:hover {
    background-color: rgb(170, 170, 94);
  }
