.buscar{
    width: 92px;
    height: 45px;
    border-radius: 30px;
    margin: 10px;
}

.mas{
    border-radius: 100%; 
    width: 40px;
    height: 40px;px;
    color: white;
    background-color: rgba(255, 153, 0, 0.932);
    border: rgba(255, 153, 0, 0.932) ;
    margin: 10px;
}

.crear{
    box-shadow: 10px 5px 5px black;
background-color: rgba(0, 183, 255, 0.63);
border: none;
width: 93px;
 height: 39px;
 color: white;

}
.buttons{
    display:flex;
    flex-direction: column;
}